fluxos-n8n/fluxo2-gerar-curriculo.json
{
  "name": "Fluxo 2 - Gerar Currículo Reescrito",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gerar-curriculo",
        "options": {},
        "responseMode": "responseNode"
      },
      "id": "f2-node-01",
      "name": "Webhook POST /gerar-curriculo",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "notes": "Body esperado (JSON):\n{\n  'resume_id': 'uuid-do-upload',\n  'target_role': 'Senior Backend Engineer',  // opcional\n  'target_company': 'Google'                 // opcional\n}"
    },
    {
      "parameters": {
        "jsCode": "const resume_id = $input.first().json.body?.resume_id;\nconst target_role = $input.first().json.body?.target_role || null;\nconst target_company = $input.first().json.body?.target_company || null;\n\nif (!resume_id) throw new Error('Campo resume_id não encontrado no body.');\n\nreturn [{ json: { resume_id, target_role, target_company } }];"
      },
      "id": "f2-node-02",
      "name": "Code - Valida Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "notes": "Valida resume_id obrigatório.\nExtrai target_role e target_company opcionais."
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "f2-node-03",
      "name": "DataTable - Get Análise Original",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [440, 300],
      "notes": "Busca o registro da análise pelo resume_id.\n⚠️ Preencha o dataTableId com o ID da tabela 'resume_roasts'.\nConfigure o filtro: campo 'resume_id' igual a {{ $json.resume_id }}"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst meta = $('Code - Valida Body').first().json;\n\nif (!data || !data.resume_id) {\n  throw new Error(`Análise não encontrada para resume_id: ${meta.resume_id}`);\n}\n\nconst redFlags = typeof data.red_flags === 'string' ? JSON.parse(data.red_flags) : data.red_flags;\nconst tips = typeof data.improvement_tips === 'string' ? JSON.parse(data.improvement_tips) : data.improvement_tips;\n\nconst targetContext = meta.target_role\n  ? `\\n\\nIMPORTANT: Tailor this resume specifically for the role of '${meta.target_role}'${ meta.target_company ? ` at ${meta.target_company}` : '' }. Use keywords and skills typical for this role.`\n  : '';\n\nconst prompt = `You are a world-class resume writer and career strategist. You already analyzed this resume and found these issues:\n\nBrutal Roast: ${data.brutal_roast}\nRed Flags: ${JSON.stringify(redFlags)}\nImprovement Tips: ${JSON.stringify(tips)}\nCurrent Summary: ${data.rewritten_summary}${targetContext}\n\nNow create a COMPLETE, FULLY REWRITTEN resume. Return ONLY a strict JSON with:\n1) 'new_summary': optimized professional summary (3-4 lines)\n2) 'key_skills': array of 10-15 relevant technical and soft skills\n3) 'experience_bullets': array of 5-8 achievement-focused bullet points using STAR method with numbers\n4) 'certifications_suggestions': array of 3 relevant certifications to pursue\n5) 'ats_keywords': array of 15 keywords for ATS optimization\n6) 'final_score_prediction': predicted employability score after changes (number 0-100)\n7) 'cover_letter_opening': a strong opening paragraph for a cover letter`;\n\nreturn [{ json: { prompt, resume_id: data.resume_id, original_score: data.employability_score } }];"
      },
      "id": "f2-node-04",
      "name": "Code - Monta Prompt com Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300],
      "notes": "Usa os dados da análise original para montar prompt rico.\nInclui target_role/company se foram passados."
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "id": "f2-node-05",
      "name": "OpenAI GPT-4o - Gera Currículo",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [880, 300],
      "notes": "GPT-4o recebe o prompt com contexto completo.\nRetorna novo currículo, skills, bullets STAR, ATS keywords e cover letter."
    },
    {
      "parameters": {
        "jsCode": "const resumeId = $('Code - Valida Body').first().json.resume_id;\nconst originalScore = $('Code - Monta Prompt com Contexto').first().json.original_score;\nconst content = $input.first().json.message?.content || $input.first().json.choices?.[0]?.message?.content;\n\nlet parsed;\ntry {\n  parsed = typeof content === 'string' ? JSON.parse(content) : content;\n} catch(e) {\n  throw new Error('GPT-4o não retornou JSON válido: ' + content);\n}\n\nreturn [{\n  json: {\n    resume_id: resumeId,\n    original_score: originalScore,\n    final_score_prediction: parsed.final_score_prediction,\n    score_improvement: parsed.final_score_prediction - originalScore,\n    new_summary: parsed.new_summary,\n    key_skills: JSON.stringify(parsed.key_skills),\n    experience_bullets: JSON.stringify(parsed.experience_bullets),\n    certifications_suggestions: JSON.stringify(parsed.certifications_suggestions),\n    ats_keywords: JSON.stringify(parsed.ats_keywords),\n    cover_letter_opening: parsed.cover_letter_opening,\n    new_resume_generated: true,\n    status: 'resume_generated',\n    generated_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "f2-node-06",
      "name": "Code - Parse Currículo Gerado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300],
      "notes": "Parse do JSON do GPT-4o.\nCalcula score_improvement (final - original).\nSerializa arrays para string antes do update na tabela."
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "new_resume_generated": "={{ $json.new_resume_generated }}",
            "new_summary": "={{ $json.new_summary }}",
            "key_skills": "={{ $json.key_skills }}",
            "experience_bullets": "={{ $json.experience_bullets }}",
            "certifications_suggestions": "={{ $json.certifications_suggestions }}",
            "ats_keywords": "={{ $json.ats_keywords }}",
            "final_score_prediction": "={{ $json.final_score_prediction }}",
            "cover_letter_opening": "={{ $json.cover_letter_opening }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": ["resume_id"],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f2-node-07",
      "name": "DataTable - Update resume_roasts",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [1320, 300],
      "notes": "Atualiza o registro existente na tabela.\nmatchingColumns: resume_id (chave de busca)\n⚠️ Preencha o dataTableId com o ID da tabela 'resume_roasts'."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  resume_id: $('Code - Parse Currículo Gerado').first().json.resume_id,\n  original_score: $('Code - Parse Currículo Gerado').first().json.original_score,\n  final_score_prediction: $('Code - Parse Currículo Gerado').first().json.final_score_prediction,\n  score_improvement: $('Code - Parse Currículo Gerado').first().json.score_improvement,\n  new_summary: $('Code - Parse Currículo Gerado').first().json.new_summary,\n  key_skills: JSON.parse($('Code - Parse Currículo Gerado').first().json.key_skills),\n  experience_bullets: JSON.parse($('Code - Parse Currículo Gerado').first().json.experience_bullets),\n  certifications_suggestions: JSON.parse($('Code - Parse Currículo Gerado').first().json.certifications_suggestions),\n  ats_keywords: JSON.parse($('Code - Parse Currículo Gerado').first().json.ats_keywords),\n  cover_letter_opening: $('Code - Parse Currículo Gerado').first().json.cover_letter_opening,\n  generated_at: $('Code - Parse Currículo Gerado').first().json.generated_at\n}) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "f2-node-08",
      "name": "Respond to Webhook - Entrega Currículo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1540, 300],
      "notes": "Retorna o currículo reescrito completo.\nArrays são desserializados de volta antes de devolver ao front."
    }
  ],
  "connections": {
    "Webhook POST /gerar-curriculo": {
      "main": [[{ "node": "Code - Valida Body", "type": "main", "index": 0 }]]
    },
    "Code - Valida Body": {
      "main": [[{ "node": "DataTable - Get Análise Original", "type": "main", "index": 0 }]]
    },
    "DataTable - Get Análise Original": {
      "main": [[{ "node": "Code - Monta Prompt com Contexto", "type": "main", "index": 0 }]]
    },
    "Code - Monta Prompt com Contexto": {
      "main": [[{ "node": "OpenAI GPT-4o - Gera Currículo", "type": "main", "index": 0 }]]
    },
    "OpenAI GPT-4o - Gera Currículo": {
      "main": [[{ "node": "Code - Parse Currículo Gerado", "type": "main", "index": 0 }]]
    },
    "Code - Parse Currículo Gerado": {
      "main": [[{ "node": "DataTable - Update resume_roasts", "type": "main", "index": 0 }]]
    },
    "DataTable - Update resume_roasts": {
      "main": [[{ "node": "Respond to Webhook - Entrega Currículo", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
