fluxos-n8n/fluxo1-upload-resume.json
{
  "name": "Fluxo 1 - Upload, Análise e Armazenamento",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-resume",
        "options": {
          "binaryData": true
        },
        "responseMode": "responseNode"
      },
      "id": "f1-node-01",
      "name": "Webhook POST /upload-resume",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "notes": "Recebe multipart/form-data.\nCampos esperados:\n- file: arquivo PDF (binário)\n- id: UUID gerado no front-end (ex: crypto.randomUUID())"
    },
    {
      "parameters": {
        "jsCode": "const id = $input.first().json.body?.id || $input.first().json.id;\nconst binaryKey = Object.keys($input.first().binary || {})[0] || 'data';\n\nif (!id) throw new Error('Campo id não encontrado no body da requisição.');\nif (!$input.first().binary?.[binaryKey]) throw new Error('Arquivo PDF não encontrado.');\n\nreturn [{\n  json: { id, binaryKey },\n  binary: $input.first().binary\n}];"
      },
      "id": "f1-node-02",
      "name": "Code - Valida id e binário",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "notes": "Valida que o id e o PDF vieram corretamente.\nDefine qual chave binária usar no próximo nó."
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "binaryPropertyName": "={{ $json.binaryKey }}",
        "options": {
          "purpose": "assistants"
        }
      },
      "id": "f1-node-03",
      "name": "OpenAI - Upload do PDF",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [440, 300],
      "notes": "Faz upload do PDF para a OpenAI Files API.\nRetorna file_id usado no Chat Completion.\nCredential: OpenAI API Key."
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ 'You are an elite tech recruiter and career coach. You are brutally honest and have zero patience for corporate buzzwords. Analyze the attached resume PDF. Return ONLY a strict JSON with the following keys:\\n\\n1) \\'employability_score\\': (number 0-100)\\n2) \\'ats_rejection_chance\\': (number 0-100)\\n3) \\'hook_message\\': (one direct sentence describing the biggest problem found)\\n4) \\'brutal_roast\\': (a direct and funny paragraph exposing all the flaws)\\n5) \\'red_flags\\': (array of exactly 3 terrible clichés or problems found)\\n6) \\'improvement_tips\\': (array of 5 specific and actionable tips)\\n7) \\'rewritten_summary\\': (a perfectly optimized ATS-friendly professional summary)' }}"
            }
          ]
        },
        "options": {
          "responseFormat": "json_object"
        },
        "additionalFields": {
          "attachments": [
            {
              "file_id": "={{ $json.id }}",
              "tools": [{ "type": "file_search" }]
            }
          ]
        }
      },
      "id": "f1-node-04",
      "name": "OpenAI GPT-4o - Analisa Currículo",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [660, 300],
      "notes": "GPT-4o analisa o PDF via file_id.\nRetorna JSON com todos os campos de análise."
    },
    {
      "parameters": {
        "jsCode": "const resumeId = $('Code - Valida id e binário').first().json.id;\nconst content = $input.first().json.message?.content || $input.first().json.choices?.[0]?.message?.content;\n\nlet parsed;\ntry {\n  parsed = typeof content === 'string' ? JSON.parse(content) : content;\n} catch(e) {\n  throw new Error('GPT-4o não retornou JSON válido: ' + content);\n}\n\nreturn [{\n  json: {\n    resume_id: resumeId,\n    employability_score: parsed.employability_score,\n    ats_rejection_chance: parsed.ats_rejection_chance,\n    hook_message: parsed.hook_message,\n    brutal_roast: parsed.brutal_roast,\n    red_flags: JSON.stringify(parsed.red_flags),\n    improvement_tips: JSON.stringify(parsed.improvement_tips),\n    rewritten_summary: parsed.rewritten_summary,\n    status: 'analyzed',\n    created_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "f1-node-05",
      "name": "Code - Parse e Monta Objeto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300],
      "notes": "Faz JSON.parse do response do GPT-4o.\nMonta objeto final com resume_id e todos os campos."
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "ArXE8s9tmJPsI1EC",
          "mode": "list",
          "cachedResultName": "resume_roasts",
          "cachedResultUrl": "/projects/lvog2T4fK6vD8HRh/datatables/ArXE8s9tmJPsI1EC"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "resume_id": "={{ $json.resume_id }}",
            "employability_score": "={{ $json.employability_score }}",
            "ats_rejection_chance": "={{ $json.ats_rejection_chance }}",
            "hook_message": "={{ $json.hook_message }}",
            "brutal_roast": "={{ $json.brutal_roast }}",
            "red_flags": "={{ $json.red_flags }}",
            "improvement_tips": "={{ $json.improvement_tips }}",
            "rewritten_summary": "={{ $json.rewritten_summary }}",
            "status": "={{ $json.status }}",
            "created_at": "={{ $json.created_at }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f1-node-06",
      "name": "DataTable - Insert resume_roasts",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [1100, 300],
      "notes": "Insere o registro na tabela interna do n8n.\n⚠️ Antes de usar: crie a tabela 'resume_roasts' no n8n Data Tables\ne preencha o dataTableId com o ID gerado."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  resume_id: $('Code - Parse e Monta Objeto').first().json.resume_id,\n  employability_score: $('Code - Parse e Monta Objeto').first().json.employability_score,\n  ats_rejection_chance: $('Code - Parse e Monta Objeto').first().json.ats_rejection_chance,\n  hook_message: $('Code - Parse e Monta Objeto').first().json.hook_message,\n  brutal_roast: $('Code - Parse e Monta Objeto').first().json.brutal_roast,\n  red_flags: JSON.parse($('Code - Parse e Monta Objeto').first().json.red_flags),\n  improvement_tips: JSON.parse($('Code - Parse e Monta Objeto').first().json.improvement_tips),\n  rewritten_summary: $('Code - Parse e Monta Objeto').first().json.rewritten_summary\n}) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "f1-node-07",
      "name": "Respond to Webhook - Resultado Completo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1320, 300],
      "notes": "Retorna o resultado completo para o front-end.\nArrays são desserializados de volta para JSON antes de devolver."
    }
  ],
  "connections": {
    "Webhook POST /upload-resume": {
      "main": [[{ "node": "Code - Valida id e binário", "type": "main", "index": 0 }]]
    },
    "Code - Valida id e binário": {
      "main": [[{ "node": "OpenAI - Upload do PDF", "type": "main", "index": 0 }]]
    },
    "OpenAI - Upload do PDF": {
      "main": [[{ "node": "OpenAI GPT-4o - Analisa Currículo", "type": "main", "index": 0 }]]
    },
    "OpenAI GPT-4o - Analisa Currículo": {
      "main": [[{ "node": "Code - Parse e Monta Objeto", "type": "main", "index": 0 }]]
    },
    "Code - Parse e Monta Objeto": {
      "main": [[{ "node": "DataTable - Insert resume_roasts", "type": "main", "index": 0 }]]
    },
    "DataTable - Insert resume_roasts": {
      "main": [[{ "node": "Respond to Webhook - Resultado Completo", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
