fluxos-n8n/fluxo3-chat-perguntas.json
{
  "name": "Fluxo 3 — Chat Perguntas (Postgres)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9a5bc8f4-ae06-4065-bb51-e02ba5bcbddd",
      "name": "Webhook POST /chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [32, 480],
      "webhookId": "ca152243-fd7e-4e09-bce4-7b55fbb215f1",
      "notes": "Body esperado (JSON):\n{\n  \"resume_id\": \"uuid-do-upload\",\n  \"message\": \"Resposta do usuário ou bloco de respostas numeradas\"\n}"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst resume_id = body.resume_id;\nconst message = body.message;\n\nif (!resume_id) throw new Error('resume_id obrigatório no body.');\nif (!message || message.trim() === '') throw new Error('message não pode ser vazio.');\n\nreturn [{ json: { resume_id, message } }];"
      },
      "id": "086e7867-61a9-4517-b149-24ebfca680f6",
      "name": "Code - Valida Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [256, 480],
      "notes": "Valida resume_id e message."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  resume_id,\n  employability_score,\n  ats_rejection_chance,\n  red_flags::text       AS red_flags,\n  improvement_tips::text AS improvement_tips,\n  questions::text       AS questions,\n  original_text,\n  status\nFROM resume_roasts\nWHERE resume_id = '{{ $json.resume_id }}'\nLIMIT 1;",
        "options": {}
      },
      "id": "pg-get-roast",
      "name": "Postgres - GET resume_roasts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [464, 480],
      "credentials": {
        "postgres": {
          "id": "BgdlaXsBdEjEwstv",
          "name": "Postgres account"
        }
      },
      "notes": "Substitui o DataTable Get.\nBusca a análise original para contexto do Agent."
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nconst body = $('Code - Valida Body').first().json;\n\nif (!row || !row.resume_id) {\n  throw new Error('Resume não encontrado para id: ' + body.resume_id);\n}\n\nreturn [{\n  json: {\n    resume_id:           body.resume_id,\n    message:             body.message,\n    employability_score: row.employability_score ?? '',\n    red_flags:           row.red_flags ?? '[]',\n    improvement_tips:    row.improvement_tips ?? '[]',\n    original_text:       row.original_text ?? ''\n  }\n}];\n"
      },
      "id": "73b48af2-7e3f-44d1-ba8b-71457c39962e",
      "name": "Code - Monta Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [672, 480],
      "notes": "Monta contexto completo para o AI Agent."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE: Retorne APENAS JSON puro. Zero texto fora do objeto JSON.\n\nResume ID: {{ $json.resume_id }}\n\nCONTEXTO DA ANÁLISE:\n- Score de empregabilidade: {{ $json.employability_score }}/100\n- Red flags identificados: {{ $json.red_flags }}\n- Melhorias recomendadas: {{ $json.improvement_tips }}\n\nCURRÍCULO ORIGINAL:\n{{ $json.original_text }}\n\nNOVA RESPOSTA DO CANDIDATO:\n{{ $json.message }}\n\nINSTRUÇÃO:\nCom base na memória acumulada da conversa e na resposta acima:\n- Se ainda faltam informações essenciais, retorne: {\"done\": false, \"message\": \"<próxima pergunta objetiva>\"}\n- Se já tem informações suficientes para gerar o currículo, retorne o JSON completo com \"done\": true e \"final_resume\" preenchido.\n",
        "options": {
          "systemMessage": "Você é um especialista em currículos de alto impacto para o mercado brasileiro, com foco em tecnologia e logística.\n\nCONTEXTO:\nVocê recebe o currículo original do candidato, uma análise crítica prévia e as respostas do candidato às perguntas estratégicas acumuladas na memória da conversa.\n\nSEU FLUXO:\n1. Faça no máximo 2 perguntas por vez, de forma natural e direta\n2. Quando tiver: cargo alvo, 2+ conquistas com números, formação e preferência de trabalho — gere o currículo\n3. Nunca invente dados — use apenas o que o candidato forneceu\n\nREGRAS DE OUTPUT — CRÍTICAS:\n- Retorne SOMENTE o objeto JSON abaixo\n- ZERO markdown, ZERO texto antes ou depois, ZERO ```json```\n- NUNCA use: \"busca\", \"procura\", \"almeja\", \"dinâmico\", \"proativo\", \"apaixonado\"\n- Todas as strings em português do Brasil\n- Conquistas SEMPRE com métricas (números, %, tempo, volume)\n\nENQUANTO COLETA INFORMAÇÕES:\n{\"done\": false, \"message\": \"<pergunta direta e objetiva>\"}\n\nQUANDO PRONTO PARA GERAR:\n{\n  \"done\": true,\n  \"message\": null,\n  \"resume_id\": \"<mesmo id recebido>\",\n  \"final_resume\": {\n    \"summary\": \"<cargo + anos de experiência + 2 conquistas com números>\",\n    \"experience\": [\n      {\n        \"company\": \"<empresa>\",\n        \"role\": \"<cargo específico>\",\n        \"period\": \"<mês/ano – mês/ano>\",\n        \"achievements\": [\n          \"<conquista mensurável 1>\",\n          \"<conquista mensurável 2>\",\n          \"<conquista mensurável 3>\"\n        ]\n      }\n    ],\n    \"skills\": [\"<skill 1>\", \"<skill 2>\", \"<skill 3>\", \"<skill 4>\", \"<skill 5>\"],\n    \"education\": [\n      {\n        \"institution\": \"<instituição>\",\n        \"degree\": \"<curso>\",\n        \"year\": \"<ano de conclusão ou previsão>\"\n      }\n    ],\n    \"certifications\": [\"<certificação 1>\", \"<certificação 2>\"],\n    \"differentials\": \"<parágrafo curto com o diferencial único do candidato>\"\n  }\n}\n"
        }
      },
      "id": "5c627d3a-27a2-457f-b681-b9b3f422f255",
      "name": "AI Agent - Chat Coach",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [912, 480],
      "notes": "Agent conversacional com memória por resume_id.\nQuando pronto, retorna done: true com final_resume."
    },
    {
      "parameters": {
        "model": "=qwen/qwen3-32b",
        "options": {}
      },
      "id": "bb0def4e-b0d2-404d-acb8-14288f67b68a",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [864, 704],
      "credentials": {
        "groqApi": {
          "id": "Zs2d3aQggFKHeg1h",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Code - Valida Body').first().json.resume_id }}",
        "contextWindowLength": 2
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [1008, 704],
      "id": "1211c3be-5791-4966-aff7-d2d55272cd02",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "BgdlaXsBdEjEwstv",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || \"\";\nconst body = $('Code - Valida Body').first().json || {};\n\n// Remove <think> do qwen3\nconst stripped = raw.replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n\nlet parsed;\ntry {\n  const match = stripped.match(/\\{[\\s\\S]*\\}/);\n  if (!match) throw new Error('Sem JSON');\n  parsed = JSON.parse(match[0]);\n} catch (e) {\n  return [{ json: { done: false, message: stripped, curriculo: null } }];\n}\n\nif (!parsed.done || !parsed.final_resume) {\n  return [{ json: { done: false, message: parsed.message || stripped, curriculo: null } }];\n}\n\nconst c = parsed.final_resume;\n\nreturn [{\n  json: {\n    // Para o front\n    done:     true,\n    message:  null,\n    curriculo: c,\n\n    // Para o INSERT no Postgres\n    resume_id:       parsed.resume_id || body.resume_id,\n    summary:         c.summary        || '',\n    experience:      JSON.stringify(c.experience      || []),\n    skills:          JSON.stringify(c.skills          || []),\n    education:       JSON.stringify(c.education       || []),\n    certifications:  JSON.stringify(c.certifications  || []),\n    differentials:   c.differentials  || ''\n  }\n}];\n"
      },
      "id": "60595959-954c-4869-9f97-836fa1c33da5",
      "name": "Code - Parse Final Resume",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 480],
      "notes": "Parse do output do Agent.\nSe done=false, retorna mensagem ao front.\nSe done=true, prepara dados para INSERT."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO resume_finals (\n  resume_id,\n  source_service,\n  summary,\n  experience,\n  skills,\n  education,\n  certifications,\n  differentials,\n  status,\n  created_at\n) VALUES (\n  '{{ $json.resume_id }}',\n  'resume-roast',\n  '{{ $json.summary.replace(/'/g, \"''\") }}',\n  '{{ $json.experience }}'::jsonb,\n  '{{ $json.skills }}'::jsonb,\n  '{{ $json.education }}'::jsonb,\n  '{{ $json.certifications }}'::jsonb,\n  '{{ $json.differentials.replace(/'/g, \"''\") }}',\n  'pending_payment',\n  NOW()\n)\nON CONFLICT (resume_id)\nDO UPDATE SET\n  summary        = EXCLUDED.summary,\n  experience     = EXCLUDED.experience,\n  skills         = EXCLUDED.skills,\n  education      = EXCLUDED.education,\n  certifications = EXCLUDED.certifications,\n  differentials  = EXCLUDED.differentials,\n  status         = 'pending_payment',\n  updated_at     = NOW()\nRETURNING resume_id, status;",
        "options": {}
      },
      "id": "pg-insert-final",
      "name": "Postgres - INSERT resume_finals",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1504, 480],
      "credentials": {
        "postgres": {
          "id": "BgdlaXsBdEjEwstv",
          "name": "Postgres account"
        }
      },
      "notes": "Substitui o DataTable Insert de resume_finals.\nSó executa quando done=true (currículo gerado).\nON CONFLICT = idempotente."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  resume_id: $('Code - Valida Body').first().json.resume_id,\n  done:      $('Code - Parse Final Resume').first().json.done,\n  message:   $('Code - Parse Final Resume').first().json.message,\n  curriculo: $('Code - Parse Final Resume').first().json.curriculo\n}) }}",
        "options": { "responseCode": 200 }
      },
      "id": "75677e47-182d-469f-9bc9-2c61602744bb",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1744, 480],
      "notes": "Enquanto conversa: { done: false, message: 'Pergunta', curriculo: null }\nQuando termina:   { done: true, message: null, curriculo: {...} }"
    }
  ],
  "connections": {
    "Webhook POST /chat": {
      "main": [[{ "node": "Code - Valida Body", "type": "main", "index": 0 }]]
    },
    "Code - Valida Body": {
      "main": [[{ "node": "Postgres - GET resume_roasts", "type": "main", "index": 0 }]]
    },
    "Postgres - GET resume_roasts": {
      "main": [[{ "node": "Code - Monta Contexto", "type": "main", "index": 0 }]]
    },
    "Code - Monta Contexto": {
      "main": [[{ "node": "AI Agent - Chat Coach", "type": "main", "index": 0 }]]
    },
    "Groq Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent - Chat Coach", "type": "ai_languageModel", "index": 0 }]]
    },
    "Postgres Chat Memory": {
      "ai_memory": [[{ "node": "AI Agent - Chat Coach", "type": "ai_memory", "index": 0 }]]
    },
    "AI Agent - Chat Coach": {
      "main": [[{ "node": "Code - Parse Final Resume", "type": "main", "index": 0 }]]
    },
    "Code - Parse Final Resume": {
      "main": [[{ "node": "Postgres - INSERT resume_finals", "type": "main", "index": 0 }]]
    },
    "Postgres - INSERT resume_finals": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5c28372f8539d1fc026bc6d1c9263c72b310a93650bd9ed58d2c3834b89e10ae"
  }
}
